*{
    font: 700 20px 'Arial', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}

.grid-item img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.grid-item img:hover{
    transform: scale(1.05);
    cursor: pointer;
}

@media (max-width: 800px) {
    .grid-container {
        grid-area: 48%;
    }
}

@media (max-width: 500px) {
    .grid-container {
        grid-area: 98%;
    }
}