body {
    background-color: #A8B2BF;
    font-family: sans-serif;
}
header{
    text-align: center;
    margin-top: 30px;
    color: #262614;
}
h2, h3 {
    color: #262614;
}
nav {
    background-color: #262614;
    top: 0;
    position: sticky;
}
nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    padding: 0.5em;
}
nav li a {
    color: #A8B2BF;
    text-decoration: none;
    margin: 0 2em;
}
nav li a:hover{
    color: #F2AC29;
    text-decoration: none;
    margin: 0 2em;
}
main{
    width: 70%;
    margin: 0 auto;
    background-color: #F29A2E;
    padding: 3em;
    border:4px solid #717343;
    border-radius: 5%;
}
footer{
    margin: 2em 0 4em 0;
    text-align: center;
}

td img {
    width: 200px;
    height: 200px;
    border: 2px solid blue;
}

.gallery_main{

}