*{
    font-family: 'Arial', sans-serif;
}
header{
    background-color: #56735A;
    border: 4px solid #323F59;
    text-align: center;
    border-radius: 50px;
    width: 100%;
}
.titulo {
    position: relative;
    top: 50%;
    text-align: center;
}
#saul {
    width: 200px;
    border: 2px solid #56735A;
    display: block;
    margin: 0 auto;
}

body{
    background-color: #C1D9D4;
    margin-left: 20px;
    margin-right: 20px;
}
.container{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.item {
    width: 50px;
    height: 50px;
    border: 2px solid #56735A;
    background-color: #485946;
    color: #0D0D0D;
    margin: 2px 2px;
    font-weight: 700;
}

.size1 {
    width: 50px;
    height: 40px;
}
.size2 {
    width: 50px;
    height: 70px;}
.size3 {
    width: 50px;
    height: 80px;}
/*
.small {
    flex-grow: 1;
}
.big {
    flex-grow: 2;
}
*/
ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 200px;
    color: #0D0D0D;
    padding: 0;
}
li {
    width: 120px;
    list-style-type: none;
    background-color: #485946;
    border: 3px solid #56735A;
    margin: 2px 2px;
    font-weight: 700;
}
p{
    background-color: royalblue;
    text-align: center;
    border: 2px solid #0d0d0d;
    color: #C1D9D4;
}